<!DOCTYPE html>
<html lang="id">
  {% seo %}
  {% include header/css.html %}
  <body>
    {% include body/preload.html %}
    
    {% include header/header-jam-buka.html %}
    
    {% include header/navigasi.html %}
    
    {% include section/1.slide.html %}
    {% include section/2.services.html %}
    {% include section/3.enrollment.html %}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer/footer-html.html %}
    {% include footer/script.html %}
  </body>
</html>
